label {
  font-weight: bold;
  font-size: small;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.title {
  font-size: 4rem;
}

.navbar-toggler {
  background-color: white;
}

.body-home {
  height: 90vh;
}
